body {
    font-family: "Prompt", sans-serif;
    background-image: url(images/60.-Zircon.jpg);
    background-size: cover;
}

.nav-wrapper {
    max-width: 1200px;
    margin:0 auto;
    padding: 15px 20px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 30% auto;
}

.nav-wrapper ul li {
    display: inline;
    list-style-type: none;
}

.nav-wrapper a {
    letter-spacing: .1em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.nav-wrapper a:hover {
    cursor: pointer;
    color: #eee;
}

.list-item {
    margin-left: 10px;
    padding: 10px;
    text-transform: uppercase;
}

.logo {
    font-weight: bold;
    font-size: 28px;
}

.main-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
        "featuredMain featuredMain featuredSub"
        "contentMain contentMain contentSub";
}

.wrapper > .featured,
.wrapper > .sub-featured > div,
.wrapper > .main-content,
.wrapper > .main-sidebar {
    padding: 20px;
}

.featured {
    grid-area: featuredMain;
    min-height: 500px;
    display: grid;
    align-content: flex-end;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.1)) 
    border-box, url(https://source.unsplash.com/1600x900/?women) no-repeat center center;
    color: #fff;
}

.featured h1 {
    font-size: 36px;
    max-width: 650px;
}

.main-content, .featured, .sub-featured > div, .main-sidebar{
    box-shadow: 0 0 4px rgba(0,0,0,.25);
}

.sub-featured {
    grid-area: featuredSub;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.sub-featured h3 {
    margin-top: 0;
}

.sub1 {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.1)) 
    border-box, url(https://source.unsplash.com/400x100/?sports) no-repeat center center;
    color: #fff;
    background-size: cover;
}

.sub2 {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.1)) 
    border-box, url(https://source.unsplash.com/400x100/?technology) no-repeat center center;
    color: #fff;
    background-size: cover;
}

.sub3 {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.1)) 
    border-box, url(https://source.unsplash.com/400x100/?winter) no-repeat center center;
    color: #fff;
    background-size: cover;
}

.main-content {
    grid-area: contentMain;
    background-color: rgba(255, 255, 255, .35);
    line-height: 1.5em;
    color: #444;
}

.main-sidebar {
    grid-area: contentSub;
    background-color: rgba(255, 255, 255, .35);
    line-height: 1.5em;
    color: #444;
}

.footer {
    display: grid;
    margin: auto;
    grid-template-columns: minmax(20px, 300px) minmax(20px, 300px) minmax(20px, 300px) minmax(20px, 300px);
    justify-content: center;
    grid-template-rows: 1fr, 1fr;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.1)) 
    border-box, url(https://source.unsplash.com/1600x400/?art) no-repeat center center;
    background-size: cover;
    background-color: #333;
    color: #FFF;
}

.footer > div {
    padding: 20px;
}

.copyright {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    grid-column: 1/-1;
}

.burger-icon {
    display: none;
}

/* TABLET MEDIA QUERY */

@media screen and (max-width: 950px) {
    .wrapper {
        grid-template-areas: 
            "featuredMain featuredMain featuredMain"
            "featuredSub featuredSub featuredSub"
            "contentMain contentMain contentSub";
    }

    .sub-featured {
        grid-template-columns: repeat(3, 1fr);
    }

    .nav-items {
        grid-column: 1/5;
        text-align: center;
    }

    .logo {
        grid-column: 1/5;
        text-align: center;
    }

    .nav-wrapper {
        margin-top: 0;
    }
}

/* MOBILE MEDIA QUERY */

@media screen and (max-width: 690px) {
    .logo {
        grid-column: 1/3;
    }

    .nav-wrapper ul {
        margin: 0;
        padding: 0;
    }

    .nav-wrapper ul li {
        display: block;

    }

    .wrapper {
        grid-template-areas:
            "featuredMain featuredMain featuredMain"
            "contentMain contentMain contentMain"
            "featuredSub featuredSub featuredSub"
            "contentSub contentSub contentSub";
    }

    .burger-icon {
        display: inline-block;
        justify-self: end;
        grid-column: 4/5;
        border: 2px solid #333;
        color: #333;
        border-radius: 3px;
        font-weight: bold;
        padding: 10px;
    }

    .burger-icon:hover {
        cursor: pointer;
    }

    .featured h1 {
        font-size: 30px;
    }

    .sub-featured {
        grid-template-columns: 1fr;
    }

    .footer > div {
        grid-column: 1/-1;
    }

    .mobile-show {
        display: block;
    }

    .mobile-hide {
        display: none;
    }
}
